* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #02113b !important;
  background-image: url(/src/img/svg/6152f5f9477fcc87ae117e8a_bg\ image.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
